# =========================
# Visual Studio
# =========================
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build
# =========================
Debug/
Release/
x64/
x86/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Python Virtual Environments
venv/
.venv/
env/

# =========================
# AI Models
# =========================
*.pth
*.pt
*.onnx
*.ckpt

# =========================
# Databases
# =========================
*.mdf
*.ldf
*.bak
*.db
*.sqlite
*.sqlite3

# =========================
# Archives
# =========================
*.rar
*.zip
*.7z

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
Thumbs.db
Desktop.ini

# =========================
# Temporary
# =========================
*.tmp
*.temp
project_files.txt
git
notepad

bin/
obj/
.vs/
__pycache__/

*.mdf
*.ldf
*.bak

# External assets
EngMohammed_Assets/